<%- contentFor('body') %>
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="text-center">Sobre a Loja</h1>
        <p>Endereço: R. Conceição, 321 - Santo Antônio, São Caetano do Sul - SP, 09530-060</p>
        <p>Campus Conceição</p>
        <p>Telefone: (11) 4227-7816</p>
    </div>  
</div>
